<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/index.ejs">
        <img src="\img\logo.png" alt="" style="max-width: 10%;">
        <span class="ml-3 text-xl">Urban Paws</span>
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900" href="/fooditems.ejs">Food Items</a>
        <a class="mr-5 hover:text-gray-900" href="/accessories.ejs" >Accessories</a>
        <!-- <a class="mr-5 hover:text-gray-900" href="/petwalkers.ejs">Blog</a> -->
        
        <a class="mr-5 hover:text-gray-900" href="/profile.ejs">Profile</a>
        <a class="mr-5 hover:text-gray-900" href="/cart.ejs">Cart</a>
        <a class="mr-5 hover:text-gray-900" href="/orders.ejs">My Order</a>
        <a class="mr-5 hover:text-gray-900" href="/Logout1.ejs">Logout</a>
      </nav>
      
    </div>
  </header>