<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <link rel="stylesheet" href="\css\search.css">
</head>
<body>
  <%- include('header') %>
  <section class="text-gray-600 body-font">
   
    
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/img/dog5.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">All you need to know about pet hygiene</h2>
          <p class="text-base leading-relaxed mt-2">We all know how moody dogs can be when it comes to bathing and hygiene routines but we also know how important it is. Your dear fur babies love a little mud therapy but water therapy is what they need.</p>
          <a class="text-indigo-500 inline-flex items-center mt-3" href="/blog2.ejs">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/img/dog6.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Puppy care tips for new pet parents</h2>
          <p class="text-base leading-relaxed mt-2">What can be more exciting than being a parent to a super awwdorable puppy?! However, keep in mind that pet parenting has its own pros and cons. They might love going to the park for a walk, but parenting them is no walk in the park. </p>
          <a class="text-indigo-500 inline-flex items-center mt-3" href="/blog3.ejs">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/img/dog7.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Gifting Options for Pets</h2>
          <p class="text-base leading-relaxed mt-2">Swag shoivdigoitch literally meditation subway tile tumblr cold-pressed. Gastropub street art beard dreamcatcher neutra, ethical XOXO lumbersexual.</p>
          <a class="text-indigo-500 inline-flex items-center mt-3" href="/blog4.ejs">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    
  
  
   
      
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/img/dog9.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Street Dogs</h2>
          <p class="text-base leading-relaxed mt-2">Street dogs, known in scientific literature as free-ranging urban dogs, are unconfined dogs that live in cities. They live virtually everywhere cities exist and the local human population allows, especially in the developing world. </p>
          <a class="text-indigo-500 inline-flex items-center mt-3" href="/blog6.ejs">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/img/dog8.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">The Monsoon Season</h2>
          <p class="text-base leading-relaxed mt-2"> Are you wondering if your monsoon is gonna be a handful with all the fun that your pet is gonna have in this Rainy season, don’t sweat we have got you all covered with our monsoon essentials.</p>
          <a class="text-indigo-500 inline-flex items-center mt-3" href="/blog5.ejs">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" src="/img/dog10.jpg">
          </div>
          <h2 class="text-xl font-medium title-font text-gray-900 mt-5">The Canine Behaviour</h2>
          <p class="text-base leading-relaxed mt-2">One of the leading dog trainers – Certified Professional Dog Trainer (CPDT-KA), Ketan Panchal shares some special insights on canine behaviour training.</p>
          <a class="text-indigo-500 inline-flex items-center mt-3" href="/blog7.ejs">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
   
  
  
   
     
 
  <%- include('footer') %>
</body>
</html>